﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="ArticleView.aspx.cs" Inherits="ArticleView" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
     <div style=" min-width:500px; background-image: url('bc3.png'); background-attachment: fixed; height: 5000px; width: 100%; ">
          <div style="padding-top:350px">
              <div style="padding: 5px; text-align: center;">
               <div class="articleContainer" style="width: 50%; margin-left:150px; padding:30px;  background: rgba(255, 255, 255, 0.7); box-shadow: 2px 2px 5px #888888;">
                <div style="padding: 2px;  ">
                    <asp:Image ID="Image1" runat="server" src="paper.png" />
                   
                   
                    <asp:Label style="color: #C29590; font-size: 200%;" ID="Label1" runat="server" ></asp:Label>
                    <br /><br />
                    <asp:Label style="color: black; " ID="Label4" runat="server" ></asp:Label>
                    <br /><br />
                    <asp:Label ID="Label2" runat="server" Text="Keywords from this paper:"></asp:Label>
                   
                    <asp:Label ID="Label5" runat="server" Text=""></asp:Label>
                        

                </div>
               <br />
           

   

    <%--    
        <div style="padding: 5px; text-align: center;">
                    <img runat="server" id="ArticleImg1" width="600"  src='<%#"~/Images/"+Eval("Id")+".jpg"%>' />
                </div>
    --%>

        
        <asp:LoginView ID="LoginView1" runat="server">
             <RoleGroups>
             <asp:RoleGroup Roles="Editor">
             <ContentTemplate>
                <asp:HyperLink ID="HyperLink1" style="color: #F9766E; text-decoration: none;" runat="server">Open PDF</asp:HyperLink>
                 |
                 <asp:HyperLink style="color: #F9766E; text-decoration: none;  position:center" ID="HyperLinkD" runat="server"  >Delete article</asp:HyperLink>     
                    </ContentTemplate>
                 </asp:RoleGroup>
             <asp:RoleGroup Roles="User">
                <ContentTemplate>
                 <asp:HyperLink ID="HyperLink1"  style="color: #F9766E; text-decoration: none;" runat="server">Open PDF</asp:HyperLink>
                    </ContentTemplate>
                    </asp:RoleGroup>
                  <asp:RoleGroup Roles="Admin">
                <ContentTemplate>
                 <asp:HyperLink ID="HyperLink1" style="color: #F9766E; text-decoration: none;" runat="server">Open PDF</asp:HyperLink>
                    </ContentTemplate>
                    </asp:RoleGroup>
                  <asp:RoleGroup Roles="Admin">
                <ContentTemplate>
                 <asp:HyperLink ID="HyperLink1" style="color: #F9766E; text-decoration: none;" runat="server">Open PDF</asp:HyperLink>
                    </ContentTemplate>
                    </asp:RoleGroup>

                   </RoleGroups>
                    <AnonymousTemplate>
                          <asp:HyperLink ID="HyperLink1" style="color: #F9766E; text-decoration: none;" runat="server">Open PDF</asp:HyperLink>
                      </AnonymousTemplate>
         
            </asp:LoginView>
            
                       

      
      
        <div style="padding-left:150px; padding-right:150px;">
           
           
        
      
      <asp:LoginView ID="LoginView2" runat="server">
        
       
             
   </asp:LoginView>
        </div>
    <br />
       <div style="text-align:center;">
        <textarea  id="TextArea1" runat="server" cols="50" rows="3"></textarea>
           <div style=" padding: 10px ">
                      
                    <asp:Button ID="Button1" runat="server" Text="Add Comment" CssClass="redButton" OnClick="addcom" />
               <br /><br />
                     <asp:Literal ID="LAnswer" runat="server"></asp:Literal>
                    </div>   
           <br />
            <asp:Image ID="Image3" runat="server" src="brainstorming.png" />
         <asp:Label ID="Label3" runat="server" Text=" "></asp:Label>
           </div>       
        </div>
              </div>
         </div>
                  
   
  
</asp:Content>

