﻿<%@ Page Title="Home" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="Home.aspx.cs" Inherits="Home" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server" >
      <div id="home" style=" min-width:500px; background-image: url('bc2.png'); height: 1000px; width: 100%; ">
    <div>&nbsp;</div>
            <asp:LoginView ID="LoginView1" runat="server">
                  
                </asp:LoginView>
  
    
     
     <div class="sideRight" >
            <div id="tagCloud" runat="server">
            </div>
     </div>
     
    <div>&nbsp;</div>
      </div>
    
    
  
    
</asp:Content>

