﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="MyPapers.aspx.cs" Inherits="MyPapers" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
  <div style="background-image: url('bc3.png'); background-attachment: fixed; min-height:1000px; height: auto; width: 100%;">
        <div style="padding-top:350px; padding-bottom:100px;">
          
    <div class="articleContainer" style="width: 50%; margin-left:150px; padding:30px;  background: rgba(255, 255, 255, 0.7); box-shadow: 2px 2px 5px #888888;" id="showArticles" runat="server">
        <asp:Label style="color:black; font-size:larger;" ID="Label1" runat="server" Text="My Papers: "></asp:Label>
        <br />
        <br />
     
    </div>
            </div>
     </div>
</asp:Content>

