﻿body {
    background-color: #ffffff;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1em;
    padding: 0;
    margin: 0;
}

.header {
    position: fixed;
    width: 100%;
    height: 300px;
    background-color: #14262A;
}

#loginDiv {
  //  background: blue;
    padding: 30px;
    margin-top: 20px;
    display: block;
    margin-left: 80px;
}

.axis {
    font: 10px sans-serif;
}

    .axis path,
    .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }

.conference {
    
    color: #C29590;
    font-size:larger;
    font-weight:bold;
    padding:5px;
    text-decoration:none;
}

#conf {
    position: fixed;
    top: 260px;
    right: 20px;
}

#UserName {
    margin-top:20px;
}

#Password {
    margin-top:20px;
}


.redButton {
    width: 200px;
    text-align: center;
    font-weight: bold;
    color: #C29590;
    background-color: white;
    padding: 5px;
    border: none;
    font-size: 100%;
    height: 30px;
    margin-top: 20px;
    
    box-shadow: 2px 2px 5px #888888;
}

#hideDiv {
    display:none;
}

#hideSignUp {
    display: none;
}

#login {
 //   background: red;
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;
    width: 500px;
}

#LoginView1 {
}

#Login1 {
}

.title {
    position: absolute;
    top: 30%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-decoration: none;
    color: #F9766E;
    background-image: url('logo.png');
    font-size: 200%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.signUpButton {
    text-decoration: none;
    color: #FF4081;
    font-size: 100%;
}

.sideMenu {
    text-align: center;
    position: fixed;
    right: 0;
    top: 600px; 
    bottom: 0;
    width: 320px;

    
}

.notResize {
   // width: 100%;
}

.articleContainer {
    width: 800px;
    margin-left: 45%;
    padding: 30px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 2px 2px 5px #888888;
}

.articleContainer2 {
    width: 960px;
  //  margin-left: 45%;
    padding: 30px;
    background: rgba(255, 255, 255, 0.7);
  //  box-shadow: 2px 2px 5px #888888;
    
    
  //  background: rgba(255, 255, 255, 0.7);
    box-shadow: 2px 2px 5px #888888;
  //  padding-top: 30px;
  //  width: 600px;
    margin-left: 10%;
  //  text-align: center;
}

#LogoImage {
    margin-left: 10%;
    position: absolute;
    top: 30px;
    width: 300px;
}

#description {
    margin-top: 110px;
    margin-left: 10%;
    max-width: 700px;
    color: white;
    padding: 10px;
    position: absolute;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
}

.tagCloud {
    text-align: center;
 //   position: absolute;
 //   right: 30px;
    margin-right: 30px;
    margin-left: 70px;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 2px 2px 5px #888888;
    padding: 10px;
    width: 650px;
    float: left;
}

.sideRight {
    text-align: center;
 //   margin-left: 5.5%;
 //   margin-top: 19.7%;
    margin-top: 380px;
    margin-left: 100px;
    width: 1070px;
    
}




.keyword {
    color: #F9766E;
    font-size: larger;
}

.hiper {
    color: #C29590;
    text-decoration:none;
}


.placeholder {
    position: absolute;
    top: 140px;
    left: 320px;
    z-index: -1;
}

.HyperLinkC {
    display: inline-block;
    color: #F9766E;
    text-decoration: none;
}

.categories {
    display: inline-block;
    color: black;
    font-size: 160%;
    margin-bottom: 15px;
}

.stangaSiDreapta {
    display: inline-block;
    padding: 20px;
    
    margin-top: 280px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 2px 2px 5px #888888;
}

.stangaSiDreapta2 {
    position: fixed; 
    right: 20px;
    display: inline-block;
    padding: 20px;
    margin-top: 280px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 2px 2px 5px #888888;
}

.stangaSiDreapta1 {
    margin-top: 180px;
    text-align: center;
    display: inline-block;
    padding: 20px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 2px 2px 5px #888888;
}

#login2 {
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;
    width: 500px;
}

#login3 {
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;
    width: 500px;
}

.addArticle {
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 2px 2px 5px #888888;
    padding-top: 30px;
    width: 600px;
    margin-left: 400px;
    text-align: center;
}

@media only screen and (max-width: 1820px) {
    #login {
    //    background: red;
        text-align: center;
        padding-right: 20px;
        position: absolute;
        top: 0;
        left: 1300px;
        width: 500px;
    }




}

@media only screen and (max-width: 1900px) {
    .stangaSiDreapta2 {
        position: absolute;
        left: 100px;
        // right: 20px;
        display: inline-block;
        padding: 20px;
        margin-top: 280px;
        background: rgba(255, 255, 255, 0.7);
        box-shadow: 2px 2px 5px #888888;
    }
}

@media only screen and (max-width: 1800px) {
    .articleContainer {
        width: 800px;
        margin-left: 800px;
        padding: 30px;
        background: rgba(255, 255, 255, 0.7);
        box-shadow: 2px 2px 5px #888888;
    }

    .addArticle {
        background: rgba(255, 255, 255, 0.7);
        box-shadow: 2px 2px 5px #888888;
        padding-top: 30px;
        width: 600px;
        margin-left: 10%;
        text-align: center;
    }
}

@media only screen and (max-width: 1300px) {
    #login2 {
        text-align: center;
        position: absolute;
        left: 800px;
        top: 0;
        width: 500px;
    }
}

@media only screen and (max-width: 1600px) {
    #login3 {
        text-align: center;
        position: absolute;
        left: 1100px;
        top: 0;
        width: 500px;
    }
}



.justStanga {
    margin-right: 5px;
}

.search {
    margin-top: 30px;
    margin-bottom: 30px;
}

.navLinks {
    padding: 10px;
    color: #F9766E;
    text-decoration: none;
}

.navigationLinksContainer {
    margin-left: 10px;
    margin-top: 110px;
}

#LoginStatus1 {
    text-decoration: none;
}

#tagCloud {
    text-decoration: none;
    height: 1000px;
}


.weight0:hover {
    -webkit-transition: all 50ms ease-in;
    -ms-transition: all 50ms ease-in;
    -moz-transition: all 50ms ease-in;
    transition: all 50ms ease-in;
    color: #ff5252;
    cursor: pointer;
    text-decoration: none;
}
.weight1:hover {
    -webkit-transition: all 50ms ease-in;
    -ms-transition: all 50ms ease-in;
    -moz-transition: all 50ms ease-in;
    transition: all 50ms ease-in;
    color: #ef9a9a;
    cursor: pointer;
    text-decoration: none;
}
.weight2:hover {
    -webkit-transition: all 50ms ease-in;
    -ms-transition: all 50ms ease-in;
    -moz-transition: all 50ms ease-in;
    transition: all 50ms ease-in;
    color: #1de9b6;
    cursor: pointer;
    text-decoration: none;
}
.weight3:hover {
    -webkit-transition: all 300ms ease-in;
    -ms-transition: all 300ms ease-in;
    -moz-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
    color: #009688;
    cursor: pointer;
    text-decoration: none;
}
.weight4:hover {
    -webkit-transition: all 100ms ease-in;
    -ms-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
    font-size: 1em;
    cursor: pointer;
    text-decoration: none;
}
.weight {
    padding-top:30px;
    color: antiquewhite;
    font-size: 2.5em;
    font-weight: bolder;
    text-decoration: none;
}
.weight0 {
    color: #FFAB91;
    font-size: 2.5em;
    font-weight: bolder;
    text-decoration: none;
}
.weight1 {
    color: #FFCDD2;
    font-size: 2em;
    font-weight: bolder;
    text-decoration: none;
}
.weight2 {
    color: #4db6ac;
    font-size: 1.5em;
    font-weight: bolder;
    text-decoration: none;
}
.weight3 {
    color: #EEEEEE;
    font-size: 1em;
    text-decoration: none;
}
.weight4 {
    color: #FFCC80;
    font-size: 0.8em;
    text-decoration: none;
}
